<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sportradar</title>
    <link href="style.css" rel="stylesheet"/>
</head>

<body>

<div th:replace="~{menu.html}"></div>

<form id="select-sport" action="/" method="get">
    <select name="sportId" onchange="this.form.submit()">
        <option>All sports</option>
        <option th:each="sport : ${sports}"
                th:value="${sport.getSportId}"
                th:text="${sport.getSport}"
                th:selected="${sport.getSportId==selectedSportId}">
        </option>
    </select>
</form>

<table class="data-table">
    <tr>
        <th>Id</th>
        <th>Start</th>
        <th>Sport</th>
        <th>Team</th>
        <th>Team</th>
    </tr>
    <tr th:each="event : ${events}">
        <td><a th:href="${'/get-event?eventId=' + event.getEventId}" th:text="${event.getEventId}"></a></td>
        <td th:text="${timeConverter.toLocalDateTimeText(event.getStart())}"></td>
        <td th:text="${event.getSport}"></td>
        <td th:text="${event.getTeam1}"></td>
        <td th:text="${event.getTeam2}"></td>
    </tr>
</table>

</body>

</html>