<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sportradar</title>
</head>

<body>
<form id="select-sport" action="/" method="get">
    <select name="sportId" onchange="this.form.submit()">
        <option value="-1">All sports</option>
        <option th:each="sport : ${sports}" th:value="${sport.getSportId}" th:text="${sport.getSport}"></option>
    </select>
</form>

<table>

    <tr data-th-each="event : ${events}">
        <td data-th-text="${event.getEventId}"></td>
        <td data-th-text="${event.getStart}"></td>
        <td data-th-text="${event.getSport}"></td>
        <td data-th-text="${event.getTeam1}"></td>
        <td data-th-text="${event.getTeam2}"></td>
    </tr>
</table>

</body>

</html>